<h1>Member Page</h1>
<%= notice %>
<br>
<div class="signin-or-login">
    <div class="sign-up">
      <div class="sign-up-title">
        <%= link_to "Be Our Member", '/members' %>
      </div>
    </div>
    <div class="log-in">
      <div class="log-in-title">
        <%= link_to "I'm member already", 'members_path'%>
      </div>
    </div>
</div>


<div class="member-list">
  <div class="member-list-title">
    Our Members
  </div>
  <table>
    <ul>
      <% @members.each do |member| %>
        <li>
          <%=  member.email %>
          <%= member.name %> 
        </li>
      <% end %>
    </ul>  
  </table>
</div>


